@{
    <br /> ViewBag.Title = "About Us";
}
<h2 style="font-family:Berlin Sans FB Demi">@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@




<form>
    <fieldset class="border p-2" style="width:400px">
        <legend style="font-family:'Trebuchet MS'" class="w-auto">Big Hits</legend>
        <div style="float:left">
            <img class="img-fluid" src="~/Images/logo.png" width="100" height="60" />
        </div>
        <p style="color:white;margin-left:120px;margin-top:30px">
            Prashant Karki<br />
            Mankato, MN 56001<br />
            <abbr title="Phone">Phone:</abbr>
            507.351.6631
        </p>

        <address>
            <strong>Support:</strong>   <a href="mailto:mjpk247@gmail.com">mjpk247@gmail.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </fieldset>
</form>
<br />


<p>Use this area to provide additional information.</p>
